nav{
    display: flex;
    justify-content: space-between;
    background-color: blue;
    color: white;
    margin: 0px;
}
ul{
    display: flex;

}
li{
    list-style: none;
    margin: 10px;
}
a{
    text-decoration: none;
    color: white;

}
#foot{
    margin-top: 400px;
    text-align: center;
    color: black;
}
.details{
    text-align: center;
    margin-top: 100px;
    color: blue;
    padding: 0px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block{
    margin: 5px 0;
}
#krem{
    color: blue;
}